<div class="col-md-4">
    <div class="card mb-4 shadow-sm">
        <img src="@(string.IsNullOrEmpty(Model.CoverImageUrl) ? "/booksImage/cover/dummyImage.jpg" : Model.CoverImageUrl)" class="img-thumbnail" alt="Alternate Text" />
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text">@Model.Description</p>

            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a asp-route="BookDetails" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-secondary">View Detail</a>
                </div>
                <small class="text-muted">@Model.Author</small>
            </div>
        </div>
    </div>
</div>
